<div>
    <h1>Изменить контакты клиента</h1>

    <!--============================================================-->
    <hr>
    <br>
    <span>Найти клиента по ID</span>
    <form novalidate ng-submit="loadClient()">
        <br>
        <input class="form-control" type="number" id="enterId" placeholder="ID клиента" ng-model="sendClientId">
        <br>
        <!--        <input class="form-control" type="text" id="addEmail" placeholder="email" ng-model="newClient.address">-->
        <!--        <br>-->
        <!--        <input class="form-control" type="number" id="addPhone" placeholder="телефон" ng-model="newClient.number">-->
        <!--        <br>-->
        <button type="submit" class="btn btn-outline-success">найти</button>
    </form>
    <br>
    <br>


    <!--============================================================-->
    <table class="table table-hover table-borderless">
        <thead>
        <tr class="table-info">
            <th>ID</th>
            <th>Имя</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>{{clientId}}</td>
            <td>{{clientName}}</td>
        </tr>
        </tbody>
    </table>

    <!--============================================================-->
    <hr>
    <h4>Контакты клиента</h4>

    <br>
    <h5>   {{clientId}} - {{clientName}} </h5>

    <div class="container">
        <div class="row">
            <div class="col">
                <table class="table table-hover table-borderless">
                    <thead>
                    <tr class="table-light">
                        <th scope="col">Email</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="clientEmail in AllEmailByClientId">
                        <td>{{clientEmail.address}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="col">
                <table class="table table-hover table-borderless">
                    <thead>
                    <tr class="table-light">
                        <th scope="col">Phone</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="clientPhone in AllPhoneByClientId">
                        <td>{{clientPhone.number}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <!--============================================================-->
    <hr>
    <br>
    <span>Добавить новые контакты для выбранного клиента</span>

    <br>
    <br>
    <div ng-show="isClientName()">
        <form novalidate ng-submit="saveEmailByClientId()">
            <!--        <input class="form-control" type="text" id="addName" placeholder="Имя клиента" ng-model="newClient.name">-->
            <!--        <br>-->
            <input class="form-control" type="text" id="newEmail" placeholder="email" ng-model="address">
            <br>
            <!--        <input class="form-control" type="number" id="addPhone" placeholder="телефон" ng-model="newClient.number">-->
            <!--        <br>-->
            <button type="submit" class="btn btn-outline-success">Сохранить</button>
        </form>
    </div>
    <br>
    <br>




</div>
