<div>
    <br>
    <h2>Клиенты</h2>

    <br>
    <div class="container p-3">
    <table class="table table-hover">
        <thead>
        <tr class="table-info">
            <th>ID</th>
            <th>Имя</th>
            <th> </th>
            <th> </th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="client in AllClients">
            <td>{{client.id}}</td>
            <td>{{client.name}}</td>
            <td>
                <button class="btn btn-outline-success" ng-click="sendClientDetailsAndLoadAllContacts(client.id, client.name)">показать</button>
            </td>
            <td>
                <button class="btn btn-outline-danger" ng-click="deleteClientById(client.id)">удалить</button>
            </td>
        </tr>
        </tbody>
    </table>
    </div>

    <br>
    <br>
    <!--============================================================-->
    <hr>
    <h4>Контакты клиента</h4>

    <br>
    <h5>   {{clientId}} - {{clientName}} </h5>

    <div class="container">
        <div class="row">
            <div class="col">
                <table class="table table-hover table-borderless">
                    <thead>
                    <tr class="table-light">
                        <th scope="col">Email</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="clientEmail in AllEmailByClientId">
                        <td>{{clientEmail.address}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="col">
                <table class="table table-hover table-borderless">
                    <thead>
                    <tr class="table-light">
                        <th scope="col">Phone</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="clientPhone in AllPhoneByClientId">
                        <td>{{clientPhone.number}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>



</div>
